<div *ngIf="!isAdmin" class="boader-bottom">
   <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
         <div class="" id="navbarColor01">
            <ul class="navbar-nav me-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Grocery App</a>
               </li>
               <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="javascript:void(0)">{{ user }}</a>
               </li>
               <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="cart">View Cart</a>
               </li>
               <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="order">My Orders</a>
               </li>
               <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="javascript:void(0)" role="button" (click)="signOut()">Sign Out</a>
               </li>
               <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="contact.html">Help</a>
               </li>
               <li class="nav-item" *ngIf="!isLogged">
                  <a class="nav-link" href="login">Login</a>
               </li>
               <li class="nav-item" *ngIf="!isLogged">
                  <a class="nav-link" href="signup">Sign Up</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>

<div *ngIf="isAdmin" class="boader-bottom">
   <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
         <div class="" id="navbarColor01">
            <ul class="navbar-nav me-auto">
               <li class="nav-item">
                  <a class="nav-link" href="admin/product-list">Grocery App</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="admin/product-list">Admin</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="admin/add-product">Add Product</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" role="button" (click)="signOut()">Sign Out</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Help</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</div>