<section class="container">
    <div class="row product-background" *ngFor="let item of products">
        <div class="col-9">
            <div class="d-flex">
                <div>
                    <img width="80px" src="{{ bashUrl}}/{{ item.product.pImage }}" alt="">
                </div>
                <div class="ml-5">
                    <div class="name">{{ item.product.pname }}</div>
                    <div class="item">{{ item.quantity }} Item</div>
                </div>
            </div>
        </div>
        <div class="col-3 date">{{ item.date }}</div>
    </div>
</section>