<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form #loginForm (ngSubmit)="login(loginForm)">
                <h3 class="display-4">Login</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" ngModel>
                </div>
                <button type="submit" class="btn btn-primary">Login Here</button>
            </form>
        </div>
    </div>
</div>