<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
                <h1><span *ngIf="isAdmin">Admin </span>Login</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" ngModel>
                </div>
                <button type="submit" class="btn btn-primary">Login Here</button>
                <a *ngIf="!isAdmin" href="/admin/login" class="float-right">Interested in selling?</a>
            </form>
        </div>
    </div>
</div>